data/ALEX Prueba.csv
data/data original DataSet Tesis Completo XLS-20220514T082524Z-001.zip
data/DataSet_Tesis_COMPLETO_descompress.xlsx
data/DataSet Tesis COMPLETO.csv
DataSet_Tesis.pkl

.ipynb_checkpoints/*
